* {
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #121212;
  overflow-x: hidden;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

div img {
  width: 80px;
  height: max-content;
  margin-right: 20px;
}

.game-container {
  width: 100vw;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.title-container {
  text-align: center;
  width: 100vw;
  background-color: rgb(112, 5, 112);
  font-size: 30px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile-container {
  width: 640px;
}

.key-container {
  width: 750px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  justify-content: center;
}

.button {
  margin: 30px auto;
}

button {
  border-radius: 4px;
  border: none;
  font-size: 40px;
  background-color: #818384;
}

button:active {
  background-color: #fff;
  color: #3a3a3c;
}

.check {
  height: 120px;
  width: 340px;
  text-align: center;
  padding: 20px;
  background-color: rgb(112, 5, 112);
  border: 2px solid #fff;
  margin: 0 20px;
}

.backspace,
.refresh {
  height: 120px;
  padding: 20px 40px;
  border: 2px solid #fff;
}

.key-container button {
  width: 60px;
  height: 100px;
  margin: 6px;
}

.key-container button:nth-child(11) {
  margin-left: 10px;
}

.key-container button:nth-child(20) {
  margin-left: 35px;
}

.tile-container div {
  display: flex;
}

.tile-container .tile {
  width: 120px;
  height: 120px;
  border: 2px solid#3a3a3c;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 60px;
}

.message-container {
  height: 80px;
  margin: 50px auto;
}

.message-container p {
  background-color: #818384;
  border-radius: 10px;
  padding: 10px;
  font-size: 50px;
}

.tile.flip {
  animation: 0.5s linear flipping;
}

@keyframes flipping {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.grey-overlay {
  background-color: #3a3a3c !important;
  border: none !important;
}

.yellow-overlay {
  background-color: #b59f3a !important;
  border: none !important;
}

.green-overlay {
  background-color: #538d4e !important;
  border: none !important;
}